In [14]:
import re
import pandas as pd
import numpy as np

In [33]:
# 1. 입력한 시간에 총 몇 명이 사무실에 있었는지 알려주는 함수 작성

log='''
09:12:23 11:14:35
10:34:01 13:23:40
10:34:31 11:20:10'''

def cnt_person():
    
    # 원하는 시간 입력, 24시간 시스템
    time=list(map(int,input('원하는 시간을 입력하세요 ').split(':')))
    
    come=re.findall('(\d\d):(\d\d):(\d\d) ',log) # 출근시간
    go=re.findall(' (\d\d):(\d\d):(\d\d)',log)   # 퇴근시간
    cnt=0 # 결과값 저장하기 위한 변수
    
    # 입력 시간을 숫자로 환산(시간*3600 + 분*60 + 초)
    time=time[0]*3600+time[1]*60+time[2]
    
    for i in range(len(come)):
        
        # 출/퇴근 시간을 숫자로 환산
        come_int=int(come[i][0])*3600 + int(come[i][1])*60 + int(come[i][2]) # 출근 시간 숫자로 환산
        go_int=int(go[i][0])*3600 + int(go[i][1])*60 + int(go[i][2]) # 퇴근 시간 숫자로 환산
        
        if come_int<=time<=go_int:
            cnt+=1
    
    return cnt

cnt_person()

원하는 시간을 입력하세요 11:11:11

3

In [35]:
# 2. 구성된 문자열을 입력받은 뒤, 문자열 내에서 홀수가 연속되면 두 수 사이에 
# - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖는 DashInsert 함수 작성

nums='4546793'

def DashInsert(nums):
    
    res=nums[0]
    
    nums=list(map(int,list(nums)))
    
    for i in range(len(nums)-1):
        if (nums[i]-nums[i+1])%2==0:
            
            # 연속으로 짝수인 경우
            if nums[i]%2==0: res+='*'
                
            # 연속으로 홀수인 경우
            else: res+='-'
        
        res+=str(nums[i+1])
    
    return res

DashInsert(nums)

'454*67-9-3'

In [22]:
# 3-1. 호칭 출력 -> 호칭 별 인원수 출력

data=pd.read_csv('data/train.csv')
name=list(data.Name)

res1=[] # 호칭 저장하기 위한 리스트
res2=[] # 호칭 별  출현 횟수 저장하기 위한 리스트

for i in name:
    temp=re.search('[A-Z]\w+[.]',i)
    res1.append(temp.group())
    
sir=sorted(list(set(res1))) # 호칭 종류 저장

for j in sir:
    res2.append(res1.count(j)) # 호칭 종류 별 출현 횟수 저장


res=pd.DataFrame(res2,index=sir,columns=['Count'])
res.T

,Capt.,Col.,Countess.,Don.,Dr.,Jonkheer.,Lady.,Major.,Master.,Miss.,Mlle.,Mme.,Mr.,Mrs.,Ms.,Rev.,Sir.
Count,1,2,1,1,7,1,1,2,40,182,2,1,517,125,1,6,1

In [24]:
# 3-2. Age 열의 결측값을 평균으로 대체한 뒤 Age 열의 최대/최소값 출력

data.Age.fillna(data.Age.mean())
print('최대 나이 :',data.Age.max(),'/ 최소 나이 :',data.Age.min())

최대 나이 : 80.0 / 최소 나이 : 0.42

In [25]:
# 3-3. SP=SibSp+Parch인 열 추가

data['SP']=data.SibSp+data.Parch