In [19]:
#1. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수

#점들의 위치 값 입력
dots=input("','로 나누어 입력 : ").split(',')   
dots=list(map(int,dots))

#사용 변수 초기화
dist_min=max(dots)-min(dots)       #최소거리 저장하기 위한 변수
dots_min=[]                        #최소거리를 갖는 점 집합 저장 리스트

for i in range(len(dots)):
    for j in range(i+1,len(dots)): #동일한 쌍을 2번 비교하지 않도록 j 범위 설정
        dist=abs(float(dots[i])-float(dots[j]))
        if dist < dist_min:
            dots_min=[] 
            dist_min=dist 
            dots_min.append((dots[i],dots[j]))
        elif dist == dist_min:
            dots_min=dots_min+[(dots[i],dots[j])]

print('최소거리 =',dist_min,)
print('최소거리 점 집합 =',dots_min)

','로 나누어 입력 : 1,2,3,4,9,8
최소거리 = 1.0
최소거리 점 집합 = [(1, 2), (2, 3), (3, 4), (9, 8)]

In [27]:
#2.주어진 문자열에 대해 아래와 같은 함수 작성
names='이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'.split(',')

#2-1. 김씨와 이씨는 각각 몇 명 인가요?------------------------------------------
#변수 초기화
last_name=[]

for i in names:
    last_name.append(list(i)[0])
    
print('김씨 :',last_name.count('김'),'명/','이씨 :',last_name.count('이'),'명')

#2-2. "이재영"이란 이름이 몇 번 반복되나요?-------------------------------------
print('이재영',names.count('이재영'),'번 반복')

#2-3. 중복을 제거한 이름을 출력하세요.------------------------------------------
names_set=set(names)
print(names_set)

#2-4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.--------------------

김씨 : 2 명/ 이씨 : 6 명
이재영 3 번 반복
{'박민호', '박영서', '권종표', '김재성', '이유덕', '이재영', '강상희', '최승혁', '김지완', '이성연', '전경헌', '송정환'}

In [31]:
#3. 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.
multi_3=list(range(0,1000,3))
multi_5=list(range(0,1000,5))
multi_15=list(range(0,1000,15))
sum(multi_3)+sum(multi_5)-sum(multi_15)

233168

In [ ]:
#4. 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드

In [ ]:
#7.번호 중복 안되는 로또 번호 생성기
i=0
num_set=set()
import random

while True:
    num_set.add(random.randint(1,45))
    if len(num_set)==6 :
        break
    #i+=1
num_set

In [ ]:
#8.잔액 200원 미만이면 작동 중지되는 카피머신
coffee=10 #재료 10잔분, 1잔에 200원
money=2100

while money>=200:
    print('Coffee is coming out')
    coffee=coffee-1
    money=money-200
    print('Coffee left : %d Cups' %coffee)
    print('Money left : %d Won\n' %money,'='*20,sep='')
    if coffee==0:
        print('Out of service =ㅅ=')
        break

In [ ]:
#9.*을 피라미드 모양으로 출력
for i in range(4):
    print(' '*i,'*',sep='')