In [ ]:
'''
0. 데이터를 입력받아 10보다 작으면 '10보다 작아요'
   그렇지 않으면 '10보다 크거나 같아요' 출력
'''

In [ ]:
if a<10:
    print('10보다 작아요')
else:
    print('10보다 크거나 같아요')

In [ ]:
'''
1. 어떤 자연수 n이 있을 때, d(n)을 n의 각 자릿수 숫자들과 n 자신을 더한 숫자라고
정의하자.
예를 들어 d(91) = 9 + 1 + 91 = 101
이 때, n을 d(n)의 제네레이터(generator)라고 한다. 위의 예에서 91은 101의
제네레이터이다.
어떤 숫자들은 하나 이상의 제네레이터를 가지고 있는데, 101의 제네레이터는 91 뿐
아니라 100도 있다. 그런데 반대로, 제네레이터가 없는 숫자들도 있으며, 이런 숫자를
인도의 수학자 Kaprekar가 셀프 넘버(self-number)라 이름 붙였다. 
예를 들어 1,3,5,7,9,20,31 은 셀프 넘버 들이다.

1 이상이고 5000 보다 작은 모든 셀프 넘버들의 합을 구하라.
'''

In [20]:
i=1;                   #1부터 5000까지의 임의의 수 할당
k=[]                   #d(n)을 저장하기 위한 빈 리스트

while i<5000:
    num=list(str(i));  #각 자리의 수를 각각의 수로 분할 
    if len(num)!=1:   #각 자리수에 맞게 num의 수를 더함
        gen=i+sum(list(map(int,num)))
    else:            
        gen = 2*i;    #한자리 수인 경우 자기 자신 + 자기 자신
    
    if gen<5000:
        k.append(gen); #d(n)의 집합
    i+=1;

k=set(k)
sum(list(range(1,5000)))-sum(list(k))

1227365

In [ ]:
'''
2.표준 입력으로 가격(정수)과 쿠폰 이름이 각 줄에 입력됩니다. Cash3000 쿠폰은
3,000원, Cash5000 쿠폰은 5,000원을 할인합니다. 쿠폰에 따라 할인된 가격을 출력하는
프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력 
27000
Cash3000

출력
24000'''

In [23]:
cash = int(input())
coupon =  input()
coupon_a=int(coupon[4:])
output=cash-coupon_a
output

27000
cash3000

24000

In [ ]:
'''
3.표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는
10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 
출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

입력
2
출력
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10)
'''

In [24]:
tuple(range(-10,10+1,2))

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, 10)

In [ ]:
'''
4. 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
'''

In [ ]:
n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)
n=list(n)
a=[0]+list(range(1,len(n),2))
i=-1
while a[i]!=a[0]:
    n.pop(a[i])
    i+=-1
print(n)

In [ ]:
n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)
for i in range(1,len(n),2):
    print(n[i])

In [ ]:
'''
5. a 리스트에서 중복 숫자를 제거해 보자.
>>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
'''

In [25]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
print(set(a))

{1, 2, 3, 4, 5}