In [3]:
#1. 주식 총액 계산(다음 : 89,000 원/ 네이버 : 751,000 원)

daum=89000
naver=751000
total=100*daum+20*naver
print(total,'원')

23920000 원

In [4]:
#2. 위 문제에서 다음, 네이버 주식 각각 5%, 10% 하락한 경우의 손실액 계산

d_loss=0.05 #다음 손실율
n_loss=0.1  #네이버 손실율
loss=d_loss*daum+n_loss*naver
print(int(loss),'원')

79550 원

In [5]:
#3. 화씨 온도 50도일 때 섭씨 온도 계산

fer=50 #화씨온도
cel=(fer-32)/1.8
print(cel,'도')

10.0 도

In [6]:
#4. "pizza"를 10번 출력

print('pizza'*10)

pizzapizzapizzapizzapizzapizzapizzapizzapizzapizza

In [7]:
#5. 월요일에 100만 원으로 시작해 3일 연속으로 -30%일 때 수요일의 종가 계산

res=100*((0.7)**3)
print(int(res),'만원')

34 만원

In [8]:
#6. 다음 형식에 맞게 이름, 생년월일, 주민번호 출력
#파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210

import re

info='파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210'
pat=re.match('\w+ \w+: \d+년 \d+월 \d+일 \w+: \d{8}-\d{7}',info)
pat.group()

'파이썬 생년월일: 2014년 12월 12일 주민등록번호: 20141212-1623210'

In [9]:
#7. 슬라이싱, 연결하기로  'Daum KaKao' -> 'KaKao Daum'

s='Daum KaKao'
s=s[5:]+' '+s[:4]
print(s)

KaKao Daum

In [10]:
#8. 'hello world' -> 'hi world'

a='hello world'
a.replace('hello','hi')

'hi world'

In [11]:
#9. 'abcdef' ->  'bcdefa'

x='abcdef'
x=x[1:]+x[0]
print(x)

bcdefa

In [12]:
#10. 09/07 종가를 첫 항목으로 하는 naver_closing_price 종가 리스트 생성

naver='''
날짜	요일	종가
09/11	금	488,500
09/10	목	500,500
09/09	수	501,000
09/08	화	461,500
09/07	월	474,500'''

pat=re.compile('\d+,\d+',re.MULTILINE)
naver_closing_price=pat.findall(naver)
print(naver_closing_price)

['488,500', '500,500', '501,000', '461,500', '474,500']

In [13]:
#11. 가장 높았던 가격 출력

max_price=max(naver_closing_price)
print(max_price,'원')

501,000 원

In [14]:
#12. 가장 낮았던 가격 출력

min_price=min(naver_closing_price)
print(min_price,'원')

461,500 원

In [15]:
#13. 가장 종가가 높았던 요일과 가장 종가가 낮았던 요일의 가격 차를 화면에 출력

max_frag=max_price.split(',')
min_frag=min_price.split(',')
max_price=''.join(max_frag)
min_price=''.join(min_frag)
print(int(max_price)-int(min_price),'원')

39500 원

In [16]:
#14. 수요일의 종가를 화면에 출력

print(naver_closing_price[2],'원')

501,000 원

In [17]:
#15. 문제 10의 정보를 이용해 날짜를 키값으로, 종가를 딕셔너리 값으로 하는 
#naver_closing_price2라는 딕셔너리 생성

naver='''
날짜	요일	종가
09/11	금	488,500
09/10	목	500,500
09/09	수	501,000
09/08	화	461,500
09/07	월	474,500'''

day=re.findall('\d+/\d+',naver,re.MULTILINE)
price=re.findall('\d+,\d+',naver,re.MULTILINE)

naver_closing_price2={}
for i in range(len(day)):
    naver_closing_price2[day[i]]=price[i]
print(naver_closing_price2)

{'09/11': '488,500', '09/10': '500,500', '09/09': '501,000', '09/08': '461,500', '09/07': '474,500'}

In [18]:
#16. naver_closing_price2 딕셔너리를 이용해 09/09일의 종가를 출력

print(naver_closing_price2['09/09'],'원')

501,000 원

In [19]:
#17. 중첩 루프를 이용해 신문 배달을 하는 프로그램을 작성
#arrears 리스트는 신문 구독료가 미납된 세대이며, 해당 세대에는 신문을 배달 X

apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

for i in apart:
    go=(set(i)-set(arrears))
    go=sorted(go)
    for j in go:
        print('%d 호 배달 완료' %j)

102 호 배달 완료
103 호 배달 완료
104 호 배달 완료
201 호 배달 완료
202 호 배달 완료
204 호 배달 완료
302 호 배달 완료
303 호 배달 완료
304 호 배달 완료
401 호 배달 완료
402 호 배달 완료
403 호 배달 완료

In [2]:
#18. 두 개의 정수 값을 받아 두 값의 평균을 구하는 함수 작성

def myaverage(a, b):
    return print((a+b)/2)

a,b=map(int,input('값을 입력하세요 :').split(','))
myaverage(a,b)

값을 입력하세요 :1,2
1.5

In [24]:
#19. 리스트를 받은 후 리스트 내 모든 정수 값에 대한 최댓값과 최솟값을 반환
#하는 함수 작성

def get_max_min(data_list):
    return print('최댓값 :',max(data_list),'최솟값 :',min(data_list))

num=list(map(int,input('리스트를 입력하세요 :').split(',')))
get_max_min(num)

리스트를 입력하세요 :1,5,8,7,4,6,5
최댓값 : 8 최솟값 : 1

In [27]:
#20. 절대 경로를 입력받은 후 해당 경로에 있는 *.txt 파일의 목록을 파이썬 리스트
#로 반환하는 함수를 작성

import glob

def get_txt_list(path):
    return glob.glob(path+'\*.txt')

path='C:/Users\student\Desktop\TIL_new\Python 기초'
get_txt_list(path)

['C:/Users\\student\\Desktop\\TIL_new\\Python 기초\\대화추출.txt',
 'C:/Users\\student\\Desktop\\TIL_new\\Python 기초\\쥬피터 노트북 단축키.txt',
 'C:/Users\\student\\Desktop\\TIL_new\\Python 기초\\토지.txt']

In [32]:
#21. BMI 지수에 따라 '마른체형','표준','비만','고도 비만''중 하나를 출력하는 
#함수를 작성
'''BMI <18.5, 마른체형
18.5 <= BMI < 25.0, 표준
25.0 <= BMI < 30.0, 비만
BMI >= 30.0, 고도 비만'''

def cal_BMI(ht,wt):
    BMI=round(wt/((ht/100)**2),2)
    print(BMI)
    if BMI<18.5: print('마른체형')
    elif 18.5<=BMI<25.0: print('표준')
    elif 25.0<=BMI<30.0: print('비만')
    elif 30.0<BMI: print('고도비만')
    else: print('error')
        
ht,wt=map(int,input('키, 몸무게 :').split(','))
cal_BMI(ht,wt)

키, 몸무게 :150,50
22.22
표준

In [ ]:
#22. 키(cm)와 몸무게(kg)를 입력받은 후 BMI 값과 BMI 값에 따른 체형 정보를 출력
#하는 프로그램을 작성 
#작성된 프로그램은 계속해서 키와 몸무게를 입력받은 후 BMI 및 체형 정보를 출력
#해야 함(무한 루프 구조).

while True:
    ht,wt=map(int,input('키, 몸무게 :').split(','))
    cal_BMI(wt,ht)

In [33]:
#23. 삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적을 계산하는 함수를 작성

def get_triangle_area(width, height):
    return width*height/2

wt,ht=map(int,input('밑변, 높이 :').split(','))
get_triangle_area(wt,ht)

밑변, 높이 :2,5

5.0

In [35]:
#24. 시작과 끝값을 받아 시작부터 끝까지의 모든 정수값의 합을 반환하는 함수 작성

def add_start_to_end(start, end):
    return sum(list(range(start,end+1)))

st,ed=map(int,input('시작값, 끝값 :').split(','))
add_start_to_end(st,ed)

시작값, 끝값 :1,10

55

In [38]:
#25. 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세 글자로만 구성된
#리스트를 반환하는 함수를 작성

def first3(data_list):
    res=[]
    for i in data_list:
        res.append(i[:3])
    print(res)

str_list=['Seoul', 'Daegu', 'Kwangju', 'Jeju']
first3(str_list)

['Seo', 'Dae', 'Kwa', 'Jej']

In [37]:
#보너스 문제 (Baby-gin Game)

import random

# 0-9 중 6개의 숫자 추첨(중복 허용)
nums=[]
for i in range(6):
    nums.append(random.randint(0,9))

# Baby-gin 여부 판단 함수
def judge(nums):
    
    for i in set(nums):
        if nums.count(i)%3==0:       # triplet 존재 유무 확인
            for j in range(nums.count(i)):
                nums.remove(i)        # triplet에 해당되는 숫자 제거
    
    for k in range(int(len(nums)/3)): # run 존재 유무 확인
        run_list=[min(nums),min(nums)+1,min(nums)+2]
        for l in run_list:            
            try: nums.remove(l)        # run에 해당되는 숫자 제거
            except:break
    
    if nums==[]:                      # triplet이나 run에 모든 수가 해당되어
        print('Baby-gin!!')           # num이 빈 리스트가 된 경우 Baby-gin 출력
    else: print('Noooooooo')

print('주어진 수 :',nums)
judge(nums)

주어진 수 : [1, 6, 7, 1, 9, 4]
Noooooooo