In [130]:
#1. 1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수

#점들의 위치 값 입력
dots=input("','로 나누어 입력해주세요 : ").split(',')   
dots=list(set(map(int,dots)))      #동일한 점 있는 경우 제거하기 위해 set()

#사용 변수 초기화
dist_min=max(dots)-min(dots)       #최소거리 저장하기 위한 변수
dots_min=[]                        #최소거리 점 집합 저장하기 위한 리스트

for i in range(len(dots)):
    for j in range(i+1,len(dots)): #동일한 쌍을 2번 비교하지 않도록 j 범위 설정
        dist=abs(float(dots[i])-float(dots[j]))
        if dist < dist_min:
            dots_min=[]             #저장된 점 집합 삭제
            dist_min=dist 
            dots_min.append((dots[i],dots[j]))
        elif dist == dist_min:
            dots_min=dots_min+[(dots[i],dots[j])]

print('최소거리 :',dist_min,)
print('최소거리 점 집합 :',dots_min)

','로 나누어 입력해주세요 : 1,4,7,6,16,68,46,468,26,1
최소거리 : 1.0
최소거리 점 집합 : [(6, 7)]

In [129]:
#2. 주어진 문자열에 대해 아래와 같은 함수 작성

names='이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌'.split(',')

#2-1. 김씨와 이씨는 각각 몇 명 인가요?------------------------------------------
#변수 초기화
last_name=[]             #성을 저장하기 위한 리스트

for i in names:
    last_name.append(list(i)[0])
    
print('김씨 :',last_name.count('김'),'명/','이씨 :',last_name.count('이'),'명','\n')

#2-2. "이재영"이란 이름이 몇 번 반복되나요?-------------------------------------
print('이재영',names.count('이재영'),'번 반복','\n')

#2-3. 중복을 제거한 이름을 출력하세요.------------------------------------------
print('중복 제거된 명단 :',set(names),'\n')

#2-4. 중복을 제거한 이름을 오름차순으로 정렬하여 출력하세요.--------------------
names_sorted=list(set(names))
names_sorted.sort()
print('오름차순 명단 :',names_sorted)

김씨 : 2 명/ 이씨 : 6 명

이재영 3 번 반복

중복 제거된 명단 : {'박민호', '박영서', '권종표', '김재성', '이유덕', '이재영', '강상희', '최승혁', '김지완', '이성연', '전경헌', '송정환'}

오름차순 명단 : ['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

In [31]:
#3-1. 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

multi_3=list(range(0,1000,3))
multi_5=list(range(0,1000,5))
multi_15=list(range(0,1000,15))
sum(multi_3)+sum(multi_5)-sum(multi_15)

233168

In [143]:
#3-2

result=0
for i in range(1000):
    if i%3==0 or i%5==0:
        result+=i
result

233168

In [131]:
#4. 입력으로 자연수 N을 받고, 출력으로 N 이하의 모든 완전수를 출력하는 코드

num=int(input('자연수를 입력하세요 :'))
per_num=[]                 #완전수 저장 리스트

for i in range(1,num):
    div_i=0
    for j in range(1,i):   #num 이하 임의의 자연수 i 완전수 여부 판단
        if i%j==0:
            div_i+=j
    if div_i==i:
        per_num.append(i)  #완전수인 i만 저장
per_num

자연수를 입력하세요 :10000

[6, 28, 496, 8128]

In [135]:
#5. 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수

num=input()
result=0

for i in range(10):
    if num.count(str(i)) != 1:
        result=1
        print('0~9까지의 숫자가 1번씩 입력되지 않았습니다')
        break
        
if result==0:
    print('0~9까지의 숫자가 1번씩 입력되었습니다')

0123456789
0~9까지의 숫자가 1번씩 입력되었습니다

In [76]:
#6. 문자열을 입력받아 문자가 연속으로 반복되는 경우 그 반복 횟수를 표시하여 문자열을 압축

#변수 초기화
in_str=list(input())
i=in_str[0]                     #이전 문자 저장 변수
k=1                             #문자 반복 횟수 저장 변수
result=''

for j in in_str[1:]: 
    if j==i:
        k+=1
    else:                       #문자가 달라진 경우 현재까지의 문자와 개수 result에 저장
        result=result+str(i)+str(k)
        k=1
    i=j
result=result+str(i)+str(k)     #마지막 변수와 그 개수 저장

result

aaabbcccccca

'a3b2c6a1'

In [96]:
#7. 번호 중복 안되는 로또 번호 생성기

import random
num_set=set()

while True:
    num_set.add(random.randint(1,45))
    if len(num_set)==6 :
        break
        
num_set

{9, 13, 16, 18, 36, 37}

In [95]:
#8. 잔액 200원 미만이면 작동 중지되는 커피머신

coffee=10 #재료 10잔분, 1잔에 200원
money=2100

while money>=200:
    print('Coffee is coming out')
    coffee=coffee-1
    money=money-200
    print('Coffee left : %d Cups' %coffee)
    print('Money left : %d Won\n' %money,'='*20,sep='')
    if coffee==0:
        print('Out of service =ㅅ=')
        break

Coffee is coming out
Coffee left : 9 Cups
Money left : 1900 Won
====================
Coffee is coming out
Coffee left : 8 Cups
Money left : 1700 Won
====================
Coffee is coming out
Coffee left : 7 Cups
Money left : 1500 Won
====================
Coffee is coming out
Coffee left : 6 Cups
Money left : 1300 Won
====================
Coffee is coming out
Coffee left : 5 Cups
Money left : 1100 Won
====================
Coffee is coming out
Coffee left : 4 Cups
Money left : 900 Won
====================
Coffee is coming out
Coffee left : 3 Cups
Money left : 700 Won
====================
Coffee is coming out
Coffee left : 2 Cups
Money left : 500 Won
====================
Coffee is coming out
Coffee left : 1 Cups
Money left : 300 Won
====================
Coffee is coming out
Coffee left : 0 Cups
Money left : 100 Won
====================
Out of service =ㅅ=

In [138]:
#9-1. *을 피라미드 모양으로 출력

import random
num=random.randint(1,30)

for i in range(num):
    print(' '*(num-i),'*'*(2*i-1),sep='')

                    *
                   ***
                  *****
                 *******
                *********
               ***********
              *************
             ***************
            *****************
           *******************
          *********************
         ***********************
        *************************
       ***************************
      *****************************
     *******************************
    *********************************
   ***********************************
  *************************************
 ***************************************

In [142]:
#9-2.

import random
num=random.randint(1,30)

for i in range(num):
    print('{0:^61}'.format('*'*(2*i-1)))

                              *
                             ***
                            *****
                           *******
                          *********
                         ***********
                        *************
                       ***************
                      *****************
                     *******************
                    *********************